/* Estilos para el formulario de reservas */
.contenedor-reserva {
    max-width: 64rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media (min-width: 640px) {
    .contenedor-reserva {
    padding: 2rem;
    }
}
@media (min-width: 920px) {
    .contenedor-reserva {
    padding: 2.5rem;
    }
}
.rejilla-reserva {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
@media (min-width: 920px) {
    .rejilla-reserva {
    grid-template-columns: repeat(1, 1fr);
    }
}
.datos-formulario-reserva {
    background: #592424; 
    padding: 30px;
    border: solid 2px #a06a1a; 
    border-radius: 25px;
    box-shadow: 0px 0px 30px #dc7b26; 
}

.titulo-reserva {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #e9a65b; 
}
.subtitulo-reserva {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #e8bc7b; 
}
.espacio-vertical-reserva > :not([hidden]) ~ :not([hidden]) {
    margin-top: 1rem;
}
.espacio-vertical-reserva button {
    justify-items: center;
}
.etiqueta-reserva {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    color: wheat;
}

.input-reserva {
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 0.5rem 1rem;
    border: 1px solid #a06a1a; 
    background-color: #f9fafb;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #1f2937;
    transition: background-color 0.2s;
}
.centrado-reserva {
    justify-content: center;
}
.med-reserva {
    width: 70%;
}
.max-reserva {
    width: 90.4%;
}

.maximo-reserva {
    width: 97.3%;
}

@media (min-width: 920px) {
    .maximo-reserva {
    width: 94%;
    }
}

.boton-reserva {
    background-color: #ff8520;
    color: white;
}
.boton-reserva:hover {
    background-color: #ff7300;
}
.icono-reserva {
    width: 1rem;
    height: 1rem;
}
.datos-reservas-reserva {
    /* background: linear-gradient(to left top, #7e7e7e, #7e7e7e, #dee3ff) */
    background: #592424; 
    padding: 30px;
    border: solid 2px #a06a1a; 
    border-radius: 25px;
    box-shadow: 0px 0px 30px #dc7b26; 
}
.contenedor-layout-reserva {
    background-color: #e5e7eb;
    border-radius: 0.5rem;
    overflow: hidden;
}
.imagen-layout-reserva {
    width: 100%;
    height: auto;
}
.descripcion-reserva {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #6b7280;
}
.columnas-2-reserva {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.columnas-3-reserva {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.tabla-reserva {
    width: 100%;
    border-collapse: collapse;
}

.tabla-reserva th, .tabla-reserva td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}